@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Book.otf);
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url(../fonts/Gotham-Bold.otf);
}

html {
    font-family: 'Gotham';
}

body {
    background-color: #EDECEF;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}


.containerReset {
    background-color: #F5F6F7;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    min-height: 380px;
    min-width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
}

.inputContainerReset {
    width: 85%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputStyledReset {
    display: flex;
    align-items: flex-start;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    color: #000000;
    font-size: 16px;
    background-color: #EAEAEA;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 10px;
}

.backMsg {
    display: flex;
    margin-top: 16px;
    color: #BD1823;
}